<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	XML(eXtend Markup Language)
	- 임으로 태그를 만들수 있는 데이터 저장 방식
	- 해석하는 주체에 따라 필요한 태그가 정해져있다.
	- HTML과 동일한 문법 체계를 가짐
 -->
 
 <web-app  	version="4.0"
 	xmlns="http://xmins.jcp.org/xml/ns/javaee"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xsi:schemaLocaiton="http://xmls.jcp.org/xml/ns/javaee
 													http://wmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
<session-config>
	<session-timeout>360</session-timeout>
</session-config>

<error-page>
	<error-code>404</error-code>
	<location>/error/404.jsp</location>
</error-page>
<error-page>
	<error-code>500</error-code>
	<location>/error/500.jsp</location>
</error-page>

 </web-app>